.container {
  background-color: #f4f1f1;
  margin-top: 64px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.header1 {
  text-align: center;
  margin: auto;
  width: 400px;
  padding: 50px;
}

.main_head {
    font-size: 30px;
}

.head_info {
    font-size: 25px;
    color: rgb(95, 95, 95);
}

.header2 {
  margin: auto;
  width: 400px;
  padding: 50px;
}

.meet_team {
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  background-color: rgb(27 154 245);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.about_img_1 {
  height: 30vh;
}

/* mission section */

.mission {
  margin-bottom: 25px;
  padding: 20px 0 20px 0;
  /* height: 25vh; */
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.m_head {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.m_moto {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

/* team section */

.team {
    width: 100%;
    height: 35vh;
    padding-bottom: 2vh;
}

.team_header {
    padding-top: 1vh;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.team_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}

.team_card {
    background-color: #fff;
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team_pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.Name {
    margin-left: auto;
    margin-right: auto;
}

.role {
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
}

/* impact section */

.impact {
  text-align: center;
  height: 35vh;
  width: 100%;
  margin-bottom: 10vh;
}

.impact_header {
    padding-top: 1vh;
    font-size: 30px;
    font-weight: 800;
    margin-left: 1vw;
}

.impact_container {
    display: grid;
    padding-left: 2.5vw;
    margin-right: 2.5vw;
    gap: 2.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.impact_card {
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.impact_value {
    color: rgb(27 154 245);
    font-size: 25px;
    text-align: center;
}

.impact_state {
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width: 991px) {
  
.header {
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr;
}
  .main_head {
    font-size: 25px;
  }
  .head_info {
    font-size: 16px;
  }
  .mission {
    position: relative;
    margin-top: 10vh;
    margin-bottom: 25px;
    padding: 20px 0 20px 0;
    /* height: 25vh; */
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .team {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding-bottom: 2vh;
  }
  
  .team_container {
    display: flex;
  }

  .team_card {
    background-color: #fff;
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  .about_img_1 {
    height: 20vh;
  }
  .m_head {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .m_moto {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
}


  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .header {
      position: relative;
      height: 30vh;
      width: 100%;
      display: flex;
      grid-template-columns: 1fr 1fr;
    }
    .main_head {
      font-size: 20px;
    }
    .head_info {
      font-size: 14px;
    }
    .about_img_1 {
      height: 15vh;
    }
    .team_header {
      padding-top: 1vh;
      font-size: 30px;
      font-weight: 800;
      text-align: center;
    }
    .team_card {
      background-color: #fff;
      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
    .m_head {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }
  
    .m_moto {
      padding: 16px;
      font-size: 16px;
      text-align: center;
    }
    .impact {
      text-align: center;
      height: 35vh;
      width: 100%;
      margin-bottom: 5vh;
    }
    
    .impact_header {
      padding-top: 1vh;
      font-size: 30px;
      font-weight: 800;
    }
    .impact_container {
      display: grid;
      padding-left: 2.5vw;
      margin-right: 2.5vw;
      gap: 2.5vw;
      grid-template-columns: 1fr 1fr;
    }
    
    .impact_card {
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .impact_value {
        color: rgb(27 154 245);
        font-size: 16px;
        text-align: center;
    }
    
    .impact_state {
        font-size: 14px;
        text-align: center;
    }
    
  }
  
  @media (max-width: 480px) {
    .header {
      position: relative;
      height: 30vh;
      width: 100%;
      display: flex;
      grid-template-columns: 1fr 1fr;
    }
    .main_head {
      font-size: 16px;
    }
    .head_info {
      font-size: 12px;
    }
  }